<h1>{LANG[contact]} - {LANG[management]}</h1>
<div id="msg">{MSG}</div>
<form action="{THIS}&amp;add=new" method="post" accept-charset="utf-8">
    <fieldset>
        <legend>{LANG[new]}</legend>
        <label for="name">{LANG[name]}:*</label>
        <input type="text" name="name" id="name" value="{NAME}" /><br />
        <label for="email">{LANG[email]}:*</label>
        <input type="text" name="email" id="email" value="{EMAIL}" /><br />
        <div class="button_container">
            <input type="submit" name="submit" class="submit" value="{LANG[submit]}" />
            <input type="reset" name="reset" class="reset" value="{LANG[reset]}" />
            <input type="hidden" name="post" value="sent" />
        </div>
    </fieldset>
</form>