<h1>{LANG[news]} - {LANG[management]}</h1>
<div id="msg">{MSG}</div>
<div>
    <form action="{THIS}&amp;add=new" method="post" accept-charset="utf-8">
    <fieldset class="news">
        <legend>{LANG[new]}</legend>
        <label for="author">{LANG[author]}:</label>
        <input type="text" name="author" id="author" value="{AUTHOR}" disabled="disabled" /><br />
        <label for="title">{LANG[title]}:*</label>
        <input type="text" name="title" id="title" value="{TITLE}" /><br />
        <br />
        <p>{LANG[text]}:*</p>
        <div id="bbcode_container">
            <script type="text/javascript" src="./?helper=jstranslate&amp;params=file-bbcode.lang-bbcode"></script>
            <div style="text-align:right;" onclick="showHideElem(this.parentNode.getElementsByTagName('div')[1]);return false;"><a href="#" onclick="return false;">{LANG[bbcode_help_ui]}</a></div>
            <div style="display:none;">
                <button type="button" onclick="insertBBCode('text', 'b', null);"><span style="font-weight:bold;">B</span></button>
                <button type="button" onclick="insertBBCode('text', 'u', null);"><span style="text-decoration:underline;">U</span></button>
                <button type="button" onclick="insertBBCode('text', 'i', null);"><span style="font-style:italic">i</span></button>
                <button type="button" onclick="insertURLBBCode('text');"><span style="color:blue;text-decoration:underline;">URL</span></button>
                <button type="button" onclick="insertBBCode('text', 'email', null);"><span style="color:blue;text-decoration:underline;">Email</span></button>
                <button type="button" onclick="insertBBCode('text', 'search', null);"><span style="color:blue;text-decoration:underline;">Suche</span></button>
                <button type="button" onclick="insertImgBBCode('text');">IMG</button>
                <button type="button" onclick="insertSizeBBCode('text');">S<span style="font-size:50%">IZE</span></button>
                <button type="button" onclick="insertColorBBCode('text');"><span style="color:red;">Color</span></button>
                <button type="button" onclick="insertFontBBCode('text');"><span style="font-family:'comic sans ms';">Font</span></button>
                <button type="button" onclick="insertQuoteBBCode('text');"><span style="font-family:'Times New Roman';">Quote</span></button>
                <button type="button" onclick="insertBBCode('text', 'center', null);">Center</button>
                <button type="button" onclick="insertBBCode('text', 'right', null);">Right</button>
                <button type="button" onclick="insertBBCode('text', 'justify', null);">Justify</button>
                <button type="button" onclick="insertBBCode('text', 'pre', null);">PRE</button>
                <button type="button" onclick="insertCodeBBCode('text');">&lt;CODE&gt;</button>
                <button type="button" onclick="insertListBBCode('text');">Liste</button>
                <button type="button" onclick="insertVideoBBCode('text');">Video</button>
                <button type="button" onclick="insertBBCode('text', 'sub', null);"><span>Sub</span></button>
                <button type="button" onclick="insertBBCode('text', 'sup', null);"><span>Super</span></button>
                <button type="button" onclick="insertSingleBBCode('text', 'line', null);"><span style="">Line</span></button>
                <button type="button" onclick="insertSingleBBCode('text', 'copyright', null);"><span style="">©</span></button>
                <button type="button" onclick="insertSingleBBCode('text', 'registered', null);"><span style="">®</span></button>
                <button type="button" onclick="insertSingleBBCode('text', 'tm', null);"><span style="">™</span></button>
                <button type="button" onclick="insertSingleBBCode('text', 'bull', null);"><span style="">•</span></button>
                <button type="button" onclick="insertBBCode('text', 'lt', null);"><span style="text-decoration:line-through;">Lt</span></button>
                <button type="button" onclick="openSmileWindow('text');"><span>Smiles</span></button>
                <br style="clear:left;" />
            </div>
        </div>
        <textarea name="text" id="text" cols="100" rows="20">{TEXT}</textarea><br />
        <label for="shorten">{LANG[shorten]}</label>
        <input type="checkbox" name="shorten" id="shorten" value="shorten" {SHORTEN}/><br />
        <label for="comments">{LANG[comments]}</label>
        <input type="checkbox" name="comments" id="comments" value="comments" {COMMENTS}/><br />
        <div class="button_container">
            <input type="submit" name="submit" class="submit" value="{LANG[submit]}" />
            <input type="reset" name="reset" class="reset" value="{LANG[reset]}" />
            <input type="hidden" name="post" value="sent" />
        </div>
    </fieldset>
    </form>
</div>