<form action="{THIS}" method="post" accept-charset="utf-8">
    <fieldset style="margin-bottom:15px;">
        <legend>{LANG[enterstring]}</legend>
        <label for="text">{LANG[text]}</label>
        <textarea name="text" id="text" rows="4" cols="15"></textarea>
        <input type="hidden" name="post" id="post" value="sent" />
        <input type="submit" name="submit" class="submit" value="{LANG[submit]}"/>
    </fieldset>
</form>
{SPLIT}
<fieldset>
    <legend>{LANG[resultwith]} "{ALGO}"</legend>
    <label for="text">{LANG[hash]}</label>
    <textarea name="text" id="text" rows="4" cols="15" readonly="readonly" onfocus="this.select();">{HASH}</textarea>
</fieldset>
