<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
<head>
    <title>Code Infection Admincenter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="stylesheet" type="text/css" href="include/admin/style/admin.css" media="screen, print" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="include/admin/style/ie.css" media="screen, print" />
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="include/admin/images/favicon.ico" />
    <script type="text/javascript" src="include/includes/javascripts/commonlib.js"></script>
</head>
<body>
    <div id="container">
        <div id="header"><h2>ADMINCENTER</h2><div style="float:right">{BOX[lang]}</div></div>
        <div id="navi">{MENU[1]}</div>
        <div id="content">{CONTENT}</div>
    </div>
</body>
</html>
