<!-- 0 --><div class="menu_box">
    <div class="box_header">{NAME}</div>        <!-- BOX -->
    {BOX}
</div>
{SPLIT}
<!-- 1 --><ul class="menu_list">                          <!-- Ebenenstart -->
{SPLIT}
<!-- 2 -->                                                <!-- Ebeneninitiator -->
{SPLIT}
<!-- 3 --></ul>                                           <!-- Ebenenende -->
{SPLIT}
<!-- 4 --><li>                                            <!-- Eintragsstart -->
{SPLIT}
<!-- 5 --><a href="{ADDR}">{NAME}</a>                     <!-- interner Eintrag -->
{SPLIT}
<!-- 6 --><a href="{ADDR}" class="external">{NAME}</a>    <!-- externer Eintrag -->
{SPLIT}
<!-- 7 --><a href="{ADDR}" class="current">{NAME}</a>     <!-- aktueller Eintrag -->
{SPLIT}
<!-- 8 --></li>                                           <!-- Eintragsende -->